name: Flutter Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Run integration tests
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 29               # API m치s estable y r치pido
          target: google_apis         # Imagen liviana y compatible
          arch: x86                   # M치s r치pido (sin x86_64)
          profile: pixel_4            # Emulador moderno
          force-avd-creation: true   # Reutiliza AVD para evitar fallos
          disable-animations: true
          emulator-options: -no-window -no-audio -no-snapshot -no-boot-anim -gpu swiftshader_indirect
          script: flutter test integration_test/festivities_test.dart
