name: Flutter Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Run Integration Tests on Android
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 30                # ← Más estable en CI
          target: google_apis
          arch: x86_64                 # ← Evita errores de soporte
          profile: Nexus 6             # ← Emulador ligero y compatible
          force-avd-creation: true
          disable-animations: true
          emulator-options: -no-window -no-audio -no-boot-anim -no-snapshot -gpu swiftshader_indirect
          script: flutter test integration_test/festivities_test.dart
